body{
    margin:0px;
}
.button-option{
    width:120px;
    background-color: red;
    border-radius: 25px;
    height:50px;

}
#candle-modal{
    height:400px;
    width:400px;
}
.candle-modal-inside{
    height:400px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.candle-modal-bottom-anwser{
    background-color: aqua;
    height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.candle-modal-top-question{
    background-color: blueviolet;
    height:50%;
    font-size:40px;
}
.positional-div{
    width:100%;
    display: flex;
    justify-content: space-around;
}