:root {
    --primary-color: #bedadf; /* Taupe gray */
    --secondary-color: #FFFFFF; /* White */
    --tertiary-color: #D2AC47; /* Gold (amber) */
  }
  
body{
    height:100vh;
    width:100%;
    margin:0px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.button-option{
    width:350px;
    font-size: 40px;
    background-color: var(--primary-color);
    height:60px;
    border:0;
    border-radius: 20px;
    font-family: inherit;
}
#candle-modal{
    height:100vh;
    width:100%;
}
.candle-modal-inside{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}
.candle-modal-bottom-anwser{
    background-color:var(--tertiary-color);
    height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.candle-modal-top-question{
    background-color: var(--secondary-color);
    height:50%;
    font-size:40px;
}
.candle-modal-top-question i{
    font-size:20px;
}
.positional-div{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:80%;
    
}
.button-holder{
    width:fit-content;
    margin:auto;
    padding:10px;
    font-size:30px;
}
#candleImage{
    width: 100%;
    aspect-ratio: 1 / 1; 
    margin:auto;
}
#candleResult{
    overflow-x: hidden;
    height:100%;
    width:100%;
    
}
#star-contanier{
    display: flex;
    width:200px;
    font-size: 20px;
}
#star-contanier i{
    margin-right:5px;
}
#star-contanier p{
    margin-top:0px;
    margin-bottom:0px;
    font-weight: 200;
}
.add-to-cart-button{
    background-color: var(--tertiary-color);
    border:none;
    height:60px;
    width:200px;
    font-size:25px;
    border-radius: 10px;
}
.add-to-cart-button i {
    margin-right:10px;
}